@mixin btnMix()
{
    font-family: Arial;
    font-size: 20px;

    padding: 10px 20px 10px 20px;

    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background: $primary-color;
    &:hover
    {
        text-decoration: none;

        background: $primary-light;
    }
}
