@font-face {
	font-family: Goudy;
	src: url(../font/Goudy-Bookletter-1911/goudy_bookletter_1911.otf);
}
@font-face {
	font-family: Aaargh;
	src: url(../font/Aaargh/Aaargh.ttf);
}
@font-face {
	font-family: Aleo;
	src: url(../font/aleo/Aleo-Regular.otf);
}

@font-face {
	font-family: Roboto;
	src: url(../font/roboto/Roboto-Regular.ttf);
}

$breakpoints: (
  small: 800px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
  small: 18px,
  large: 20px
);


h1{
	font-family: Roboto;
	color:$font-primary-color;
	font-weight: 400;
	text-align: center;
}

h2{
	font-family: Roboto;
	color:$font-primary-color;
	font-weight: 400;
	text-align: left;
}
p{
	font-family: Aleo;
	color:$font-primary-color;
	font-size:105%;
	letter-spacing: 0.3px;
}



.preHeaderTitle{
	color:white;
	font-size: 180%;
}


