nav{
	ul{
		padding:0;
		li{
			display: inline;
			margin-right: 2em;
		}
	}
	a{
	font-family: Roboto;
	text-decoration: none;

	/* unvisited link */
	&:link {
		color:#4971A3;
	}

	/* visited link */
	&:visited {
		color:#4971A3;
	}

	/* mouse over link */
	&:hover {
		color: #314C73;
	}

	/* selected link */
	&:active {
		color: #314C73;
	}
}
}
