template
	h1 Post an article 
	form.adminEdit(submit.trigger='submit()')
		textarea.editTitle(placeholder="Title" rows="1" value.bind='art.title')
		textarea.editContent(placeholder="Content" rows="4"  value.bind='art.content')

		button(type='submit') Submit

