
template


	div.pre(repeat.for="post of prevArticles") 
		div.preHeader
			img(src="http://www.snut.fr/wp-content/uploads/2015/07/image-de-la-nature-5.jpg")
			span.preHeaderTitle Hello World
		div.preContent
			h1 ${post.title}
			p ${post.body}

