@import 'sass/const';
@import '../node_modules/typi/scss/_typi';
@import 'sass/customMixins';
@import 'sass/fonts';//typi init
@import 'sass/base';
@import 'sass/nav';





.pre
{
    .preHeader
    {
        img
        {
            display: block;

            width: 100%;
            height: auto;
            margin-bottom: -1.5em;
        }
        .preHeaderTitle
        {
            position: relative;
            bottom: 1em;
            left: 1em;

            color: white;
        }
    }
    .preContent
    {
        margin-bottom: 3em;
        h1
        {
            margin-top: 0;
            text-align: left;
            color: #b04a46;
        }
        .preButton
        {
            text-align: right;
        }
    }
}
